:root {
  --font-brand: "Cherry Bomb One", cursive;
  --font-hp: "Quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-hp);
  background-color: #dddbdb;
  font-weight: normal;
}

header,
section#luas h2:first-of-type,
section#keliling h2:first-of-type {
  background-color: #3498db;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

header h1 {
  margin: 10px 0;
}

header a {
  color: white;
  font-family: var(--font-brand);
  font-size: 2.75rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  gap: 0.25em;
  flex-wrap: wrap;
  text-decoration: none;
  cursor: pointer;
}

header a span {
  font-size: 0.5em;
}

main {
  background-color: white;
  max-width: 90vw;
  margin: 1em auto;
  border-radius: 5px;
  padding: 0.5em 1.5em;
}

section.info {
  text-align: center;
}

section.info h1 {
  font-size: 2em;
  margin: 15px 0;
}

section.info p {
  line-height: 1.5;
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 15px auto;
}

nav .btn-nav {
  margin: 5px auto;
  width: 100%;
  color: #689ac9;
  font-weight: bold;
  background-color: #dddbdb;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 1rem;
}

nav .btn-nav:focus {
  background-color: blue;
  color: white;
}

section#luas,
section#keliling {
  border: 3px solid #3498db;
  margin: 20px auto;
  display: none;
}

.active {
  display: block !important;
}

/* CSS Square Shape */
.shape {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: calc(100% / 3);
  border: 1px solid black;
  font-weight: bold;
}

.square:not(.square:nth-of-type(5)) {
  border: none;
  padding: 2px;
}

.square:nth-of-type(1) {
  justify-content: flex-end;
  align-items: flex-end;
}

.square:nth-of-type(3) {
  justify-content: flex-start;
  align-items: flex-end;
}

.square:nth-of-type(7) {
  justify-content: flex-end;
  align-items: flex-start;
}

.square:nth-of-type(8) {
  justify-content: center;
  align-items: flex-start;
  margin: 15px auto;
}

.square:nth-of-type(8) > span {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  margin: 15px auto;
}

.square:nth-of-type(9) {
  justify-content: flex-start;
  align-items: flex-start;
}
/* End CSS Square Shape */

section#luas p,
section#keliling p {
  margin: 5px 0 5px 10px;
}

section#luas > p:nth-of-type(2),
section#keliling > p:nth-of-type(2) {
  font-weight: 600;
  text-align: center;
}

hr {
  margin: 15px auto;
  width: 95%;
}

section#luas h2:last-of-type,
section#keliling h2:last-of-type {
  text-align: center;
}

input {
  margin: 15px auto;
  display: block;
  width: 90%;
  font-size: 1.25em;
  padding: 5px;
}

input:focus {
  border: 2px ridge #689ac9;
  border-radius: 5px;
  transition: all 5s ease-in-out;
}

section#luas p:last-of-type span,
section#keliling p:last-of-type span {
  font-weight: 600;
}

.btn-action {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1.5em;
}

.btn-submit,
.btn-reset {
  display: flex;
  padding: 1em 2em;
  width: 100%;
  max-width: 150px;
  margin: 15px auto;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.btn-submit {
  background-color: #3498db;
}

.btn-submit:hover {
  background-color: #2c83bd;
  cursor: pointer;
}

.btn-reset {
  background-color: #efa843;
}

.btn-reset:hover {
  background-color: #ffae3c;
  cursor: pointer;
}
